---
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';

const publications = (await getCollection('publications')).sort((a, b) => b.data.year - a.data.year);
---

<PageLayout title="Publications">
  <h1>Publications</h1>
  <ul>
    {publications.map((p) => (
      <li>
        <strong>{p.data.title}</strong><br />
        {p.data.authors.join(', ')}<br />
        <em>{p.data.venue}</em>, {p.data.year}
      </li>
    ))}
  </ul>
</PageLayout>
